{% extends 'components/base.html' %}
{% block content %}
{% load static %}
{% csrf_token %}

<script src="{% static 'js/ajax.js' %}"></script>
<script src="{% static 'js/plot.js' %}"></script>

<div class="container mt-5 text-center">
    <h1>Avaliação Prática Join Tecnologia</h1>
    <div class="w-100" id="mapDiv"></div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTargetModal">Adicionar novo alvo</button>
</div>

<!-- Modal para criar um novo alvo. -->
<div class="modal fade" id="newTargetModal" tabindex="-1" aria-labelledby="newTargetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newTargetModalLabel">Adicionar novo alvo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form onsubmit="createDataPoint(); return false;">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="newTargetName" class="form-label">Nome do alvo</label>
                        <input type="text" class="form-control" id="newTargetName" required>
                    </div>
                    <div class="mb-3">
                        <label for="newLatitude" class="form-label">Latitude</label>
                        <input type="number" step="0.0001" class="form-control" id="newLatitude" required>
                    </div>
                    <div class="mb-3">
                        <label for="newLongitude" class="form-label">Longitude</label>
                        <input type="number" step="0.0001" class="form-control" id="newLongitude" required>
                    </div>
                    <div class="mb-3">
                        <label for="newDate" class="form-label">Data</label>
                        <input type="date" class="form-control rounded p-1 border" id="newDate" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para alterar ou apagar um alvo existente. -->
<div class="modal fade" id="updateTargetModal" tabindex="-1" aria-labelledby="updateTargetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateTargetModalLabel">Alterar um alvo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form onsubmit="updateDataPoint(); return false;">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="updateTargetName" class="form-label">Nome do alvo</label>
                        <input type="text" class="form-control" id="updateTargetName">
                    </div>
                    <div class="mb-3">
                        <label for="updateLatitude" class="form-label">Latitude</label>
                        <input type="number" step="0.0001" class="form-control" id="updateLatitude">
                    </div>
                    <div class="mb-3">
                        <label for="updateLongitude" class="form-label">Longitude</label>
                        <input type="number" step="0.0001" class="form-control" id="updateLongitude">
                    </div>
                    <div class="mb-3">
                        <label for="updateDate" class="form-label">Data de expiração</label>
                        <input type="date" class="form-control rounded p-1 border" id="updateDate">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-danger" id="deleteTarget" data-bs-target="#deleteTargetModal" data-bs-toggle="modal">Apagar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para confirmar que vai apagar. -->
<div class="modal fade" id="deleteTargetModal" tabindex="-1" aria-labelledby="deleteTargetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteTargetModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    Você tem certeza que deseja apagar o alvo <span class="fw-bold" id="deleteTargetNumber"></span>?
                </div>                  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-target="#updateTargetModal" data-bs-toggle="modal">Voltar</button>
                <button type="button" class="btn btn-danger" onclick="deleteDataPoint()" data-bs-dismiss="modal">Apagar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}